In [63]:
import pandas as pd
import cbsodata

print(cbsodata.__version__)

table_id = '83765NED'

1.3.4

In [64]:
# Downloading table list
# toc = pd.DataFrame(cbsodata.get_table_list())

tableInfos = cbsodata.get_meta(table_id=table_id, name='TableInfos')
print(table_id, ':', tableInfos[0]['Summary'])

83765NED : Kerncijfers over demografische en sociaal-economische kenmerken
Uitgesplitst naar gemeenten, wijken en buurten

Select all the information on my Municipality

In [65]:
filters="indexof(WijkenEnBuurten, 'BU0809') eq 0"
# filters="not indexof(WijkenEnBuurten, 'GM0809') eq 0"
dimensions = [
        'WijkenEnBuurten',
        'Codering_3',
        'AantalInwoners_5',
      #  'GemiddeldeWoningwaarde_35',
     #   'GemiddeldElektriciteitsverbruikTotaal_47',
     #   'GemiddeldAardgasverbruikTotaal_55',
        'BedrijfsvestigingenTotaal_78']

wijkenEnBuurten =  pd.DataFrame(
        cbsodata.get_data(
                table_id=table_id, 
                filters=filters,
                select=dimensions))

What looks to be a good criterium to see if we are dealing with an industrial zone, is to compare the number of companies to the number of residents.

In [66]:
def isIndustrialZone(bedrijfsvestigingenTotaal, AantalInwoners):
    # A first derivation of what could be an industrial zone
    return 2 * bedrijfsvestigingenTotaal > AantalInwoners

In [67]:
wijkenEnBuurten['industial_zone'] = isIndustrialZone(wijkenEnBuurten['BedrijfsvestigingenTotaal_78'], wijkenEnBuurten['AantalInwoners_5'])
wijkenEnBuurten[wijkenEnBuurten['industial_zone'] == True]

,WijkenEnBuurten,Codering_3,AantalInwoners_5,BedrijfsvestigingenTotaal_78,industial_zone
11,De Kets (industrieterrein),BU08091035,95,160,True
27,De Hoogt (Industrieterrein),BU08093085,0,40,True
30,De Plakken,BU08093092,5,5,True