# ENEXIS Graduation Project

#### Enexis decentrale opwek data are combined with data from the CBS database "Kerncijfers"

# CRISP-DM Phase 2: Data Understanding

### Collect Initial Data

In [1]:
import pandas as pd
import sys
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
c_path = "../data/"
v_file = ("Enexis_decentrale_opwek_kv_(zon_pv)_01012020",                                    # 0
          "Enexis_decentrale_opwek_kv_(zon_pv)_01072020")                                    # 1

In [3]:
i = 1
c_decimal = ','
df     = pd.read_csv(filepath_or_buffer = c_path + v_file[i] + ".csv",
                         sep                = ';',
                         decimal            = c_decimal,
                         thousands          = '.',
                         encoding           = 'unicode_escape')

### Describe Data

In [4]:
df.head().transpose()

,0,1,2,3,4
ï»¿Peildatum,202007.0,202007.0,202007.0,202007.0,202007.0
Netbeheerder,Enexis,Enexis,Enexis,Enexis,Enexis
Provincie,Drenthe,Drenthe,Drenthe,Drenthe,Drenthe
Gemeente,Aa en Hunze,Aa en Hunze,Aa en Hunze,Aa en Hunze,Aa en Hunze
CBS Buurt,Annen,Verspreide huizen Annen,Eext,Verspreide huizen Eext,Anloo
CBS Buurtcode,16800000.0,16800009.0,16800100.0,16800109.0,16800200.0
Aantal aansluitingen in CBS-buurt,1491.0,116.0,559.0,127.0,127.0
Aantal aansluitingen met opwekinstallatie,447.0,29.0,143.0,24.0,29.0
Opgesteld vermogen,1866.0,243.0,565.0,150.0,129.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4081 entries, 0 to 4080
Data columns (total 9 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   ï»¿Peildatum                               4077 non-null   float64
 1   Netbeheerder                               4077 non-null   object
 2   Provincie                                  4076 non-null   object
 3   Gemeente                                   4074 non-null   object
 4   CBS Buurt                                  3946 non-null   object
 5   CBS Buurtcode                              3946 non-null   float64
 6   Aantal aansluitingen in CBS-buurt          4076 non-null   float64
 7   Aantal aansluitingen met opwekinstallatie  4077 non-null   float64
 8   Opgesteld vermogen                         4077 non-null   float64
dtypes: float64(5), object(4)
memory usage: 287.1+ KB

In [6]:
df.columns = df.columns.str.strip()

In [7]:
df.columns = df.columns.str.replace(' ','_')

In [8]:
df.rename(columns={'ï»¿Peildatum': 'Peildatum'}, inplace=True)

In [9]:
df.columns

Index(['Peildatum', 'Netbeheerder', 'Provincie', 'Gemeente', 'CBS_Buurt',
       'CBS_Buurtcode', 'Aantal_aansluitingen_in_CBS-buurt',
       'Aantal_aansluitingen_met_opwekinstallatie', 'Opgesteld_vermogen'],
      dtype='object')

### Handle missing values

In [10]:
df.isna().sum()[df.isna().sum() != 0].sort_values(ascending = False)

CBS_Buurt                                    135
CBS_Buurtcode                                135
Gemeente                                       7
Provincie                                      5
Aantal_aansluitingen_in_CBS-buurt              5
Peildatum                                      4
Netbeheerder                                   4
Aantal_aansluitingen_met_opwekinstallatie      4
Opgesteld_vermogen                             4
dtype: int64

In [11]:
df[df['Opgesteld_vermogen'].isna()]

,Peildatum,Netbeheerder,Provincie,Gemeente,CBS_Buurt,CBS_Buurtcode,Aantal_aansluitingen_in_CBS-buurt,Aantal_aansluitingen_met_opwekinstallatie,Opgesteld_vermogen
4077,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4078,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4079,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4080,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df = df.drop(index = df[df['Opgesteld_vermogen'].isna()].index)

In [13]:
df.isna().sum()[df.isna().sum() != 0].sort_values(ascending = False)

CBS_Buurt                            131
CBS_Buurtcode                        131
Gemeente                               3
Provincie                              1
Aantal_aansluitingen_in_CBS-buurt      1
dtype: int64

In [14]:
df[df['Provincie'].isna() | df['Gemeente'].isna()]

,Peildatum,Netbeheerder,Provincie,Gemeente,CBS_Buurt,CBS_Buurtcode,Aantal_aansluitingen_in_CBS-buurt,Aantal_aansluitingen_met_opwekinstallatie,Opgesteld_vermogen
1761,202007.0,Enexis,Limburg,NaN,NaN,NaN,109.0,16.0,44.0
3231,202007.0,Enexis,Noord-Brabant,NaN,NaN,NaN,217.0,23.0,246.0
4076,202007.0,Enexis,NaN,NaN,NaN,NaN,233.0,37.0,316.0

In [15]:
df = df.drop(index = df[df['Provincie'].isna() | df['Gemeente'].isna()].index)

In [16]:
df = df.drop(index = df[df['Aantal_aansluitingen_in_CBS-buurt'].isna()].index)

In [21]:
df = df.drop(index = df[df['CBS_Buurt'].isna()].index)

In [22]:
df = df.drop(index = df[df['CBS_Buurtcode'].isna()].index)

In [23]:
df.isna().sum()[df.isna().sum() != 0].sort_values(ascending = False)

Series([], dtype: int64)

In [26]:
df.transpose().head(6)

,0,1,2,3,4,5,6,7,8,9,...,4065,4066,4067,4068,4069,4070,4071,4072,4073,4074
Peildatum,202007.0,202007.0,202007.0,202007.0,202007.0,202007.0,202007.0,202007.0,202007.0,202007.0,...,202007.0,202007.0,202007.0,202007.0,202007.0,202007.0,202007.0,202007.0,202007.0,202007.0
Netbeheerder,Enexis,Enexis,Enexis,Enexis,Enexis,Enexis,Enexis,Enexis,Enexis,Enexis,...,Enexis,Enexis,Enexis,Enexis,Enexis,Enexis,Enexis,Enexis,Enexis,Enexis
Provincie,Drenthe,Drenthe,Drenthe,Drenthe,Drenthe,Drenthe,Drenthe,Drenthe,Drenthe,Drenthe,...,Overijssel,Overijssel,Overijssel,Overijssel,Overijssel,Overijssel,Overijssel,Overijssel,Overijssel,Overijssel
Gemeente,Aa en Hunze,Aa en Hunze,Aa en Hunze,Aa en Hunze,Aa en Hunze,Aa en Hunze,Aa en Hunze,Aa en Hunze,Aa en Hunze,Aa en Hunze,...,Zwolle,Zwolle,Zwolle,Zwolle,Zwolle,Zwolle,Zwolle,Zwolle,Zwolle,Zwolle
CBS_Buurt,Annen,Verspreide huizen Annen,Eext,Verspreide huizen Eext,Anloo,Verspreide huizen Anloo,Gasteren,Anderen,Verspreide huizen Anderen,Schipborg,...,Katerveer-Engelse Werk,Oud Ittersum,Ittersumerlanden,Ittersumerbroek,Geren,Gerenlanden,Gerenbroek,Oude Mars,Windesheim,Harculo en Hoogzutmen
CBS_Buurtcode,16800000.0,16800009.0,16800100.0,16800109.0,16800200.0,16800209.0,16800300.0,16800400.0,16800409.0,16800500.0,...,1935080.0,1935100.0,1935110.0,1935120.0,1935130.0,1935140.0,1935150.0,1935160.0,1935200.0,1935210.0

## Combining the data sources

In [37]:
#df['CBS_Buurtcode'] = kerncijfers['buurtcode']
#get the kerncijfers from the file
dg_kerncijfers = pd.read_csv('test_CBS_dataset_84583NED.csv', )
# dg_kerncijfers.info()

dg_kerncijfers.rename(columns={'Codering_3': 'CBS_Buurtcode'}, inplace=True)
df_all = pd.merge(df, dg_kerncijfers, on='CBS_Buurtcode')

df_all.head()

,Peildatum,Netbeheerder,Provincie,Gemeente,CBS_Buurt,CBS_Buurtcode,Aantal_aansluitingen_in_CBS-buurt,Aantal_aansluitingen_met_opwekinstallatie,Opgesteld_vermogen,WijkenEnBuurten,HuishoudensTotaal_28
0,202007.0,Enexis,Drenthe,Aa en Hunze,Annen,16800000.0,1491.0,447.0,1866.0,Annen,1490
1,202007.0,Enexis,Drenthe,Aa en Hunze,Verspreide huizen Annen,16800009.0,116.0,29.0,243.0,Verspreide huizen Annen,65
2,202007.0,Enexis,Drenthe,Aa en Hunze,Eext,16800100.0,559.0,143.0,565.0,Eext,535
3,202007.0,Enexis,Drenthe,Aa en Hunze,Verspreide huizen Eext,16800109.0,127.0,24.0,150.0,Verspreide huizen Eext,90
4,202007.0,Enexis,Drenthe,Aa en Hunze,Anloo,16800200.0,127.0,29.0,129.0,Anloo,145

# Write the data away for later processing

In [ ]:
selected_dataset = 84583
df.to_csv(path_or_buf = 'combined_CBS_dataset_' + selected_dataset + '.csv', index = False)