# ENEXIS Graduation Project

#### Create a model predicting the 'opwek' based on demographical data

### Collect Initial Data

In [1]:
import pandas as pd
import sys
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

### Get the data

In [2]:
combined_dataset_name = 'combined_CBS_dataset_84583.csv'
df = pd.read_csv(filepath_or_buffer = combined_dataset_name,
                         sep                = ';',
                         decimal            = ',',
                         thousands          = '.',
                         encoding           = 'unicode_escape')                                   # 1

## Models
### Decision tree model Y=opgesteld vermogen, X=Demographic data

In [3]:
train_set, test_set = train_test_split(df, test_size=0.2)
train_set_for_plots = train_set
test_set_for_plots = test_set
print(f"training set: {len(train_set)}\n    test set: {len(test_set)}")

y_column = 'Opgesteld_vermogen'
columns_to_keep = ['HuishoudensTotaal_28']
# HuishoudensTotaal_28
colomns_to_drop = [
    'Opgesteld_vermogen', 
    'Peildatum',
    'CBS_Buurtcode',
    'Aantal_aansluitingen_in_CBS-buurt',
    'Aantal_aansluitingen_met_opwekinstallatie',
    'Netbeheerder',
    'Provincie',
    'CBS_Buurt', 
    'Gemeente', 
    'WijkenEnBuurten',
    'Gemeentenaam_1',
    'SoortRegio_2',
    'MeestVoorkomendePostcode_113'
    ]

Y_train_set = train_set[y_column]
X_train_set = train_set.drop(colomns_to_drop, axis=1).copy()
X_train_set.head()

training set: 2218
    test set: 555

,HuishoudensTotaal_28,GemiddeldeHuishoudensgrootte_32,Bevolkingsdichtheid_33,GemiddeldeWOZWaardeVanWoningen_35,PercentageEengezinswoning_36,Koopwoningen_40,InBezitWoningcorporatie_42,InBezitOverigeVerhuurders_43,BouwjaarVanaf2000_46,Gemiddeld_opleidingsniveau,Bedrijfsvestigingen_per_huishuidens,PersonenautoSPerHuishouden_102,AfstandTotSchool_108,Omgevingsadressendichtheid_116
2040,2135,1.9,5745.0,229.0,56.0,57.0,37.0,6.0,0.0,2.046729,0.145199,1.0,0.6,2388.0
1875,970,1.9,10226.0,205.0,66.0,29.0,43.0,28.0,6.0,1.872483,0.139175,0.7,0.4,3143.0
594,255,2.4,1349.0,299.0,98.0,92.0,1.0,7.0,7.0,2.120000,0.254902,1.5,1.4,611.0
1058,395,2.3,2751.0,256.0,100.0,49.0,49.0,2.0,15.0,1.900000,0.151899,1.1,0.5,1177.0
1529,160,2.6,306.0,520.0,98.0,87.0,0.0,12.0,19.0,2.125000,0.593750,1.3,0.5,70.0

In [4]:
Y_test_set = train_set[y_column]
X_test_set = train_set.drop(colomns_to_drop, axis=1).copy()

##### Create helper class

In [5]:
class Result:
  def __init__(self, r_squared, mean_squared_error):
    self.r_squared = r_squared
    self.mean_squared_error = mean_squared_error

In [6]:
results = {}

# Fit regression models
for i in range(1, 20):
    r = DecisionTreeRegressor(max_depth=i)
    r.fit(X_train_set, Y_train_set)
    y_predict = r.predict(X_test_set)
    results[i] = Result(r2_score(Y_test_set, y_predict), mean_squared_error(Y_test_set, y_predict))

### Check the quality of the model

In [7]:
# # The coefficients

for i in range(1,20):
    print("Depth  %2.f" % i, ":R squared: %.2f" % results[i].r_squared,
    "-- Mean squared error: %.0f" % results[i].mean_squared_error)

Depth   1 :R squared: 0.13 -- Mean squared error: 498893
Depth   2 :R squared: 0.20 -- Mean squared error: 458346
Depth   3 :R squared: 0.29 -- Mean squared error: 405317
Depth   4 :R squared: 0.83 -- Mean squared error: 95834
Depth   5 :R squared: 0.86 -- Mean squared error: 79525
Depth   6 :R squared: 0.89 -- Mean squared error: 62864
Depth   7 :R squared: 0.92 -- Mean squared error: 47470
Depth   8 :R squared: 0.95 -- Mean squared error: 27669
Depth   9 :R squared: 0.96 -- Mean squared error: 20393
Depth  10 :R squared: 0.98 -- Mean squared error: 14032
Depth  11 :R squared: 0.98 -- Mean squared error: 9195
Depth  12 :R squared: 0.99 -- Mean squared error: 6080
Depth  13 :R squared: 0.99 -- Mean squared error: 4041
Depth  14 :R squared: 1.00 -- Mean squared error: 2371
Depth  15 :R squared: 1.00 -- Mean squared error: 1406
Depth  16 :R squared: 1.00 -- Mean squared error: 854
Depth  17 :R squared: 1.00 -- Mean squared error: 454
Depth  18 :R squared: 1.00 -- Mean squared error: 184
Depth  19 :R squared: 1.00 -- Mean squared error: 72

## Something is strange here, the R squared goes to 1 !!